// Navigation code here

.TitleandNavClass{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin: 0%;
    padding: 0%;
    background-color: @footer-background;
   
    h1{
        display: flex;
        justify-content: center;
        font-size: 4rem;

    }

    nav{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        
        
        
    }
    nav a {
        text-decoration: none;
        font-size: 1.5rem;
        color: @main-font-color;
        display: flex;
        justify-content: space-around;
    }

}